RewriteEngine On

# Block access to internal folders
RewriteRule ^(app|config|database|uml)/ - [F,L]

# Redirect everything to public/
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
